body {
	background-color: #fff;
	position: relative; 
	font-family: verdana;
}

.subCollapse{
	padding-left: 3%;
}
.contentBody{
	border:2px solid gray;
	margin: 2%;
}

@media only screen and (max-width: 328px) {
	.subCollapse{
		padding-left: 15%;
	}
	.contentBody{
		margin: 4%;
	}
}

@media only screen and (max-width: 768px) {
	.subCollapse{
		padding-left: 6%;
	}
	.contentBody{
		margin: 4%;
	}
}

@media (max-width: 985px) {
	#pieChartBlock {
		margin-top: 40px;
	}
}

@media (max-width: 1130px) and (min-width: 570px){
	#pieChartBlock {
		padding-left: 100px;
	}
}

.dataTables_empty{
	display:none;
}

.image-upload {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 140px;
    image-orientation: from-image;
}

.select2-selection--single {
	min-height: 37px;
	padding-top: 4px;
}

.select2-selection__arrow {
	margin-top: 4px;
}

.select2-selection__rendered {
	color: #495057 !important;
}